# dependencies
/node_modules

# no longer check-in docs for builds.  This is handled by Netlify
/docs

cypress/downloads

/coverage

# misc
.DS_Store
.vscode
.idea
*.log
*~
\#*

#do not check in cypress videos or screenshots
cypress/videos/*
