#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #373737;
  font-family: "Monospaced Number", "Chinese Quote", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.treeview {
  overflow: auto;
}

.treeview>.toggle {
  pointer-events: all;
  cursor: pointer;
}

.treeview>.toggle:hover {
  color: lime;
  fill: lime;
}

.treeview button {
  font-size: 10px;
}