/* subscribe/index.css */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light {
  background-color: #FFFFFF;
  color: #000000;
}

.dark {
  background-color: #414141;
  color: #FFFFFF;
}
