name: End-to-end Tests

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16' # Specify the Node.js version you need

      - name: Install Dependencies
        run: yarn install

      - name: Build Project
        run: yarn cypress-build
        # Ensure your build script correctly outputs to the ./docs directory
        env:
          NODE_ENV: 'production'
          AUTH0_DOMAIN: 'bldrs.us.auth0.com.msw'
          GITHUB_BASE_URL: 'https://git.bldrs.dev.msw/p/gh'
          OAUTH2_CLIENT_ID: 'msw'
          OPFS_IS_ENABLED: 'false'
          RAW_GIT_PROXY_URL: 'https://rawgit.bldrs.dev.msw/r'

      - name: Cypress run
        uses: cypress-io/github-action@v5
        with:
          browser: 'chrome'
        env:
          # Set any environment variables your build or tests may require
          CI: true

      - name: Upload Cypress Screenshots
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: conway-cypress-screenshots
          path: cypress/screenshots
          if-no-files-found: warn

      - name: Upload Cypress Videos
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: conway-cypress-videos
          path: cypress/videos
          if-no-files-found: warn
