name: End-to-end Tests (cypress)

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  cypress-run:
    runs-on: ubuntu-22.04-8vcpu-32gb-300gbssd
    environment: cypress
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      # ChatG: Next two steps are for correct caching and not using out-of-date
      #  versions, for reproducible results
      - name: Cache Cypress and Node Modules
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/Cypress
            node_modules
          key: node-modules-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            node-modules-${{ runner.os }}-
            
      - name: Clear Cypress Cache
        run: npx cypress cache prune

      # Use exact lock file to ensure reproducible install
      - run: yarn install --frozen-lockfile

      - name: Install Cypress Binary
        run: npx cypress install

      - name: Verify Cypress Installation
        run: npx cypress info

      - run: yarn cy-build
        # Ensure your build script correctly outputs to the ./docs directory
        env:
          NODE_ENV: production
          SHARE_CONFIG: cypress

      - uses: cypress-io/github-action@v5
        with:
          browser: chrome
          command: yarn cy-parallel
        env:
          # Ensure this matches the cypress build value in tools/esbuild/vars.cypress.js
          GITHUB_BASE_URL: https://git.bldrs.dev.cy/p/gh
          GITHUB_BASE_URL_UNAUTHENTICATED: https://api.github.com.cy
          RAW_GIT_PROXY_URL_NEW: https://rawgit.bldrs.dev.cy/model
          RAW_GIT_PROXY_URL: https://rawgit.bldrs.dev.cy/r
          MSW_IS_ENABLED: true
