name: End-to-end Tests (cypress)

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    environment: cypress
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Create temporary .npmrc for GitHub Actions
        run: |
          echo "@bldrs-ai:registry=https://npm.pkg.github.com" > .npmrc
          echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" >> .npmrc

      - run: yarn install

      - run: yarn cy-build
        # Ensure your build script correctly outputs to the ./docs directory
        env:
          NODE_ENV: production
          SHARE_CONFIG: cypress

      - uses: cypress-io/github-action@v5
        with:
          browser: chrome
          command: yarn cy
        env:
          # Ensure this matches the cypress build value in tools/esbuild/vars.cypress.js
          RAW_GIT_PROXY_URL: https://rawgit.bldrs.dev.msw/r
