name: Build & Unit Tests (jest)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    env:
      SHARE_CONFIG: dev

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Run a multi-line script
        run: |
          echo Running tests
          yarn install
          yarn lint
          yarn test
